<div id="box-<%= image.path %>" class="imagebox">
  <div class="left-align">
    <span class="username">
      <i class="icon-user"></i>
      <%- usernamelink(image.username) %>
    </span>
    <span class="when">
      <i class="icon-time"></i><abbr class="timeago" title="<%= image.uploaded %>"><%= image.uploaded %></abbr>
    </span>
  </div>
  <div>
    <a href="/image/<%= image.path %>" rel="lightbox" <% if (image.comment) { %>title="<%= image.comment %>"<% } %>><img class="userimage" src="/image/<%= image.path %>" data-id="<%= image.path %>" data-owner="<%= image.username %>"></img></a>
  </div>
  <div class="likes-container left-align image-info">
    <ul id="likes-<%= image.path %>" class="likes">
      <% if(data.related && data.related[i].length) { %>
      <span id="heart-<%= image.path %>" class="heart"><i class="icon-heart"></i></span>
      <% data.related[i].forEach(function(like) { %>
      <li><span id="<%= like %>-liked-<%= image.path %>"><%- usernamelink(like) %></span></li>
          <% }) %>
          <% } %>
    </ul>
  </div>
  <% if (image.comment) { %>
  <div class="comment left-align image-info">
    <p class="comment-text"><%= image.comment %></p>
  </div>
  <% } %>
</div>
