<div id="image-list" class="row-fluid box">
  <% if (data.images && data.images.length) { %>
  <% data.images.forEach(function(image, i) { %>
  <% var image = JSON.parse(image); %>
  <% if (i % 4 == 0) { %> <div class="row-fluid imageRow"> <% } %>
    <div class="span3 imagebox">
      <div class="left-align">
        <span class="username">
          <i class="icon-user"></i>
          <%- usernamelink(image.username) %>
        </span>
        <span class="when">
          <i class="icon-time"></i><abbr class="timeago" title="<%= dateformat(new Date(image.uploaded), 'isoDateTime') %>"><%= dateformat(new Date(image.uploaded), 'mmmm dS, yyyy') %></abbr>
        </span>
      </div>
      <div>
        <img class="userimage" src="/uploads/<%= image.path %>" data-id="<%= image.path %>" data-owner="<%= image.username %>"></img>
      </div>
      <div class="likes-container left-align">
        <ul id="likes-<%= image.path %>" class="likes">
          <% if(data.related && data.related[i].length) { %>
          <span id="heart-<%= image.path %>" class="heart"><i class="icon-heart"></i></span>
          <% data.related[i].forEach(function(like) { %>
          <li><span id="<%= like %>-liked-<%= image.path %>"><%- usernamelink(like) %></span></li>
          <% }) %>
          <% } %>
        </ul>
      </div>
      <% if (image.comment) { %>
      <div id="comments" class="left-align">
        <p><%= image.comment %></p>
      </div>
      <% } %>
    </div>
    <% if (i % 4 == 3) { %> </div> <% } %>
  <% }) %>
  <% } %>
</div>
