<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" media="screen" href="/stylesheets/normalize.css" >
    <link rel="stylesheet" media="screen" href="/bootstrap/css/bootstrap.min.css" >
    <link rel="stylesheet" media="screen" href="/stylesheets/lightbox.css" >
    <link rel="stylesheet" media="screen" href="/stylesheets/style.css" >
    <script type="text/javascript">
      var loggedin = <%= loggedin(username) %>;
      var loggedinuser = "<%= loggedinuser(username) %>";
      usernamelink = function(username) {
      return "<a class='profileLink' href=/profile/" + username + ">" + username + "</a>";
      };
    </script>
  </head>
  <body>
      <div class='navbar navbar-fixed-top'>
        <div class="navbar-inner">
          <div class='nav-collapse'>
            <ul class="nav">
              <li>
                <a href="/">Home</a>
              </li>
              <% if (username) { %>
              <li>
                <a href="/logout">Logout</a>
              </li>
              <li>
                <a href="/latest">Latest Images</a>
              </li>
              <% } else { %>
              <li>
                <a href="#login" class="show-form">Login</a>
              </li>
              <li>
                <a href="#register" class="show-form">Register</a>
              </li>
              <% } %>
            </ul>
          </div>
          <% if (username) { %>
          <div class="right">
            <ul class="nav">
              <li>
                <a href="/profile/<%= username %>">My Profile</a>
              </li>
            </ul>
          </div>
          <% } %>
        </div>
      </div>
      <div class="container content">
        <%- flashMessages %>
        <div id="info-box" class="row"><!-- Info Messages will appear here --></div>
        <div class="row">
          <% if (locals.sidemessage) { %>
          <%- sidemessage %>
          <% } %>
          <% if (locals.sideform) { %>
          <%- sideform %>
          <% } %>
        </div>
        <%- body %>
        <div id="copyright">
          <span title="<%= cf_instance %>">Copyright 2012 - Alvaro Videla</span>
        </div>
      </div>
      <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
      <script type="text/javascript" src="/javascripts/jquery.timeago.js"></script>
      <script type="text/javascript" src="/javascripts/jquery.form.js"></script>
      <script type="text/javascript" src="/javascripts/jquery.masonry.min.js"></script>
      <script type="text/javascript" src="/javascripts/lightbox.js"></script>
      <script type="text/javascript" src="/javascripts/sockjs-0.3.min.js"></script>
      <script type="text/javascript" src="/javascripts/ejs.js"></script>
      <script type="text/javascript" src="/javascripts/cloudstagram.js"></script>
      <script type="text/javascript" src="/javascripts/livestream.js"></script>
  </body>
</html>
