<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" media="screen" href="/stylesheets/normalize.css" >
    <link rel="stylesheet" media="screen" href="/bootstrap/css/bootstrap.min.css" >
    <link rel="stylesheet" media="screen" href="/stylesheets/lightbox.css" >
    <link rel="stylesheet" media="screen" href="/stylesheets/style.css" >
    <script type="text/javascript">
      var loggedin = <%= loggedin(username) %>;
      var loggedinuser = "<%= getLoggedinUser(username) %>";
      usernamelink = function(username) {
      return "<a class='profileLink' href=/profile/" + username + ">" + username + "</a>";
      };
    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32121916-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
      <div class='navbar navbar-fixed-top'>
        <div class="navbar-inner">
          <div class='nav-collapse'>
            <ul class="nav">
              <li>
                <a href="/">Home</a>
              </li>
              <% if (username) { %>
              <li>
                <a href="/logout">Logout</a>
              </li>
              <li>
                <a href="/latest">Latest Images</a>
              </li>
              <% } else { %>
              <li>
                <a href="#login" class="show-form">Login</a>
              </li>
              <li>
                <a href="#register" class="show-form">Register</a>
              </li>
              <% } %>
            </ul>
          </div>
          <% if (username) { %>
          <div class="right">
            <ul class="nav">
              <li>
                <a href="/profile/<%= username %>">My Profile</a>
              </li>
            </ul>
          </div>
          <% } %>
        </div>
      </div>
      <div class="container content">
        <div id="info-box" class="row"><!-- Info Messages will appear here --></div>
        <div class="row">
          <% if (locals.sidemessage) { %>
          <%- sidemessage %>
          <% } %>
          <% if (locals.sideform) { %>
          <%- sideform %>
          <% } %>
        </div>
        <%- body %>
        <div id="copyright">
          <span><a id="instance-tooltip"href="#" rel="tooltip" title="Current Cloud Foundry Instance: <%= cf_instance %>">Cloudstagram</a>&nbsp;-&nbsp;Copyright 2012 - <a href="https://twitter.com/#!/old_sound">Alvaro Videla</a></span>
        </div>
      </div>
      <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
      <script type="text/javascript" src="/javascripts/jquery.timeago.js"></script>
      <script type="text/javascript" src="/javascripts/jquery.form.js"></script>
      <script type="text/javascript" src="/javascripts/jquery.masonry.min.js"></script>
      <script type="text/javascript" src="/javascripts/bootstrap-tooltip.js"></script>
      <script type="text/javascript" src="/javascripts/lightbox.js"></script>
      <script type="text/javascript" src="/javascripts/sockjs-0.3.min.js"></script>
      <script type="text/javascript" src="/javascripts/ejs.js"></script>
      <script type="text/javascript" src="/javascripts/cloudstagram.js"></script>
      <script type="text/javascript" src="/javascripts/livestream.js"></script>
  </body>
</html>
