<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" media="screen" href="/stylesheets/normalize.css" >
    <link rel="stylesheet" media="screen" href="/bootstrap/css/bootstrap.min.css" >
    <style type="text/css">
      .imageRow {
          padding-bottom: 4px;
      }
      .container {
          margin-top: 60px;
      }
    </style>
    <script type="text/javascript">
      var loggedin = <%= loggedin(username) %>;
    </script>
  </head>
  <body>
      <div class='navbar navbar-fixed-top'>
        <div class="navbar-inner">
          <div class='nav-collapse'>
            <ul class="nav">
              <li>
                <a href="/">Home</a>
              </li>
              <% if (username) { %>
              <li>
                <a href="/logout">Logout</a>
              </li>
              <li>
                <a href="/images/<%= username %>">Welcome <%= username %></a>
              </li>
              <% } else { %>
              <li>
                <a href="/login">Login</a>
              </li>
              <li>
                <a href="/register">Register</a>
              </li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
      <div class="container">
        <div>
          <form action="/upload" method="post" enctype="multipart/form-data">
            <p>Image: <input type="file" name="image" /></p>
            <p><input type="submit" value="Upload" /></p>
          </form>
        </div>
        <%- body %>
      </div>
  </body>
  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.timeago.js"></script>
  <script type="text/javascript" src="/javascripts/cloudstagram.js"></script>
</html>
